@page "/shopping_assistant"
@using BlazorApp_Recipes.Data
@inject RecipeService Service
@inject GroceryCatalogService CatalogService
@inject IJSRuntime JS
@inject NavigationManager Navigation

<PageTitle>Shopping Assistant</PageTitle>

<h1>Shopping Assistant</h1>

<p>Here you can find your shopping asssitant.</p>

<div style="text-align:center;">
    <img src="images/map.png" alt="Map" style="max-width:100%; height:auto;" />
</div>
