@page "/shopping_list"
@using BlazorApp_Recipes.Data
@inject RecipeService Service
@inject GroceryCatalogService CatalogService
@inject IJSRuntime JS
@inject NavigationManager Navigation

<PageTitle>Shopping List</PageTitle>

<h1>Shopping List</h1>

<p>Here you can see your shopping list.</p>

